.env

.venv/
venv/
__pycache__/
*.pyc
.pytest_cache/

data/silver/*
data/gold/*
data/quarentena/*
!data/silver/.gitkeep
!data/gold/.gitkeep
!data/quarentena/.gitkeep
data/*.duckdb
data/*.duckdb.wal

dbt/target/
dbt/dbt_packages/
dbt/logs/
dbt/.user.yml
logs/

.DS_Store
Thumbs.db
.idea/
.vscode/
~$*.xlsx
